$white: #fff;
$black: #000;

$purple: #B07AEB;

//GREEN SHADES
$green: #03a55c;
$green_hov: #018347;

//BLUE SHADES
$blue: rgba(4,217,255,1);
$medium_blue: #0866A5;
$dark_blue: #1aaeec;
$dark_blue_hov: #009ac2;

//GRAY SHADES
$box-shadow:rgba(0,0,0,0.13);
$gray: #5F5F5F;
$super_light_gray: #B2B2B2;
$border_color: rgba(255,255,255,1);
$border: #d4cdcd;
$medium_gray: #9C9C9C;
$box_gray: #F5F5F5;

//RED SHADES
$red: #de4d3c;
$red_hov: #b13b2e;
$dark_red: #8E4343;